/* .cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
} */

.cards > ul > li {
  width:250px;
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}



.section.cards-container {
  margin:0;
}

.section .cards-wrapper{
  padding:0;
  max-width:100%;
}

.cards.block{
  padding:15px;
}

.cards.block ul{
  display:flex;
  justify-content: center;
  gap:20px;
  list-style: none;
}

.cards.block.featured{
  background-color: antiquewhite;
}

.section.soft{
  background-color: antiquewhite;
}