/* .cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
} */

.cards>ul>li {
  width: 250px;
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}



.section.cards-container {
  margin: 0;
  /* max-width: 60%; */
  /* margin:0 auto; */
}

.section.cards-container .default-content-wrapper {
  /* display: flex; */
  max-width: 60%;
  margin: 0 auto;
}

.section .cards-wrapper {
  padding: 0;
  max-width: 100%;
}

.cards.block {
  padding: 15px;
}

.cards.block ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  /* max-width: 60%; */
  margin: 0 auto;
}

.cards.block.featured {
  background-color: antiquewhite;
}

.section.cards-container.dark .cards.block .cards-card-body p>strong{
    color: white;
}

.section.cards-container.dark .cards.block .cards-card-body p {
  color: rgb(211, 211, 211,0.6);
}

.section.cards-container.dark .default-content-wrapper{
  color:white
}

.section.cards-container.dark .cards>ul>li {
  background-color: #292828;
  border: 0;
  border-radius: 8px;
}

.cards.block.featured .cards-card-body p:first-of-type{
  background-color: #ee5613;
  color: white;
  display: inline-block;
  padding:2px 8px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.cards.block .cards-card-body a{
  background-color: #292828;
  color:white;
  padding:9px 21px;
  border-radius: 43px;
}