.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

.section.columns-container {
  margin:0;
}

.section .columns-wrapper{
  padding:0;
  max-width:100%;
}

.columns.block{
  padding:15px;
}

.columns.block.intro {
  background-color: rgb(248, 101, 47);
  text-align: center;
}

.columns.block.featured{
  background-color: antiquewhite;
}

.columns.block.editorial{
  background-color: black;
}

.columns.block.editorial h2{
  color:white;
}

.columns.block.editorial p{
  color:lightgrey;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}