.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

.section.columns-container {
  margin: 0;
}

/* .section .columns-wrapper {
  padding: 0;
  max-width: 100%;
} */

.columns.block {
  padding: 16px;
}

.columns.block>div {
  max-width: 100%;
  margin: 0 auto;
}

/* .columns.block.intro {
  background-color: rgb(248, 101, 47);
  text-align: center;
} */



.columns.block.dark h2 {
  color: white;
}

.columns.block.dark p {
  color: lightgrey;
}

.section.columns-container.destination-briefing .columns.block h2 {
  color: white;
}

.section.columns-container.destination-briefing .columns.block p {
  color: lightgrey;
}

.section.columns-container.destination-briefing a.button.primary {
  background-color: white;
  color: black;
}

.columns.block.cream a.button.primary {
  background-color: rgb(248, 101, 47);
  border: 0;
  color: black;

}

.columns.block.cream p:has(.button) {
  display: inline-block;
  margin-right: 16px;
}

.section .columns.block.orange {
  background-color: rgb(248, 101, 47);
  text-align: center;
}

.section .columns.block.dark {
  background-color: black;
}

.section .columns.block.cream {
  background-color: antiquewhite;
}

main .section .columns-wrapper {
  max-width: 100%;
}



@media (width >=900px) {
  .columns.block>div {
    max-width: 60%;
    margin: 0 auto;
  }


  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }

}