.custom-button.light a.button {
  background-color: white;
  color: black;
}

.custom-button.dark a.button {
  background-color: black;
  color: white;
}

.custom-button.danger a.button {
  background-color: rgb(248, 101, 47);
  color: black;
}

.custom-button.outlined a.button {
  border-color: #131313;
  background-color: transparent;
  color: #131313;
}