.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px 16px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero p {
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section.hero-container {
  margin: 0;
}

.section .hero-wrapper {
  padding: 0;
}

.hero-eyebrow-container,
.hero-content-container {
  /* position: absolute;
  z-index: 2;
  left: 8%; */
  color: white;
}

.hero-action-links-container div {
  display: flex;
}

p.hero-eyebrow {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ee5613;
  color: white;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

a.hero-btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-right: 1rem;
   background: white;
  color: black;
}

/* .hero-btn.primary {
  background: white;
  color: black;
}

.hero-btn.secondary {
  border: 2px solid white;
  color: white;
  background: transparent;
} */



@media (width >=900px) {
  .hero {
    padding: 40px 300px;
  }
}